* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Salsa", serif;
}

html {
  font-size: 62.5%;
}

.jhalar {
  width: 25rem;
  margin-bottom: -18rem;
}

.deepak {
  width: 30rem;
}

.deepak-container {
  max-width: max-content;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  margin-left: 20rem;
}

.hero-section {
  /* min-height: 100vh; */
  background-image: url(images/orange-backdrop.png);
  background-size: cover;
  background-repeat: no-repeat;

  & p {
    font-size: 46.67px;
    font-weight: 400;
  }
}

.paragraph-and-audio {
  margin-left: 22rem;
}

.audio-container {
  max-width: max-content;
  background-color: #fbd8a4;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4.5rem;
  -webkit-border-radius: 4.5rem;
  -moz-border-radius: 4.5rem;
  -ms-border-radius: 4.5rem;
  -o-border-radius: 4.5rem;

  & span {
    font-size: 1.6rem;
    font-family: "Salsa", sans-serif;
    font-weight: 400;
  }
}

audio::-webkit-media-controls-panel {
  background-color: #fbd8a4;
}

/***** Lakshmi Ganesh Section *****/

.lakshmi-ganesha-section {
  background-color: #f99501;
  padding-top: 2rem;
  padding-inline: 1.5rem;
}

.lakshmi-ganesha-image {
  max-width: 100rem;
  width: 100%;
  display: block;
  margin-inline: auto;
}

.horizontal-divider {
  max-width: 850px;
  display: flex;
  align-items: center;
  margin-inline: auto;
  gap: 1rem;
  margin-bottom: 4rem;
}

.horizontal-line {
  width: 46rem;
  height: 0.3rem;
  background-color: #fbd8a4;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.circle {
  width: 1rem;
  height: 1rem;
  background-color: #fbd8a4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  flex-shrink: 0;
}

.lakshmi-ganesha-section h2 {
  font-family: "Style Script", serif;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
  margin: 4rem;
  margin-bottom: 1.5rem;
}

.white-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.little-girl {
  max-width: 25rem;
  margin-left: -6rem;
}

.white-card {
  max-width: 50rem;
  background-color: #fff;
  padding: 4rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  & p {
    font-size: 3.4rem;
    font-weight: 400;
  }
}

.footer-container {
  max-width: 100rem;
  margin-inline: auto;
  background-color: #fff6e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.footer-container img {
  width: 50%;
}

.footer-image {
  max-width: 45rem;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text p {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 400;
}

.footer-text h2 {
  margin: 0;
  font-size: 7rem;
  font-weight: 400;
  padding-bottom: 1rem;
}

/***** End Lakshmi Ganesh Section *****/

@media (max-width: 840px) {
  .second-deepak {
    display: none;
  }
  .first-deepak {
    display: block;
    margin-left: auto;
  }
  .jhalar {
    width: 16rem;
    margin-bottom: 0;
  }
  .paragraph-and-audio {
    margin-left: 3rem;

    & p {
      font-size: 2.5rem;
      line-height: 3.5rem;
      font-weight: 400;
      margin-bottom: 1.5rem;
    }
  }

  .white-card {
    padding-block: 1rem;
    padding-left: 2rem;
    padding-right: 6rem;
    & p {
      font-size: 2.5rem;
    }
  }

  .little-girl {
    max-width: 16rem;
  }
}

@media (max-width: 580px) {
  .mobile-hide-icon {
    display: none;
  }
  .audio-container {
    margin-left: -1rem;
    margin-right: 1.5rem;
  }
  .deepak-container {
    margin-top: 0;
    margin-left: auto;
  }
  .lakshmi-ganesha-section h2 {
    font-size: 3.2rem;
  }
  .horizontal-line {
    height: 0.1rem;
  }
  .circle {
    height: 0.7rem;
    width: 0.7rem;
  }

  .white-card p {
    font-size: 1.8rem;
  }
}
